.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  float: left;
  margin-right: 20px;
}

.itemListing {
  padding-top: 8px;
  clear: both;
  margin-bottom: 8px;
  height: 100px;
}

hr {
  border-color: #ccc;
  border-width: 1px;
}